.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}
.header__logo {
  width: 100%;
  max-width: 128px;
  z-index: 100;
}
.header__logo svg {
  width: 100%;
}
.header__nav-container {
  display: flex;
  width: 100%;
  max-width: 736px;
  justify-content: space-between;
}
.header__navigation {
  display: flex;
  align-self: center;
  width: 100%;
  max-width: 391px;
  justify-content: space-between;
  list-style-type: none;
}
.header__navigation .link {
  font-size: 23px;
  line-height: 120%;
}
.header__navigation .link a {
  color: #CECECE;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  transition: 0.3s ease;
}
.header__navigation .link a:hover {
  transition: 0.3s ease;
  color: #fff;
}
.header__personal-area {
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid #CECECE;
  background: transparent;
  color: #CECECE;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  padding: 16px 22px;
  transition: 0.2s ease;
}
.header__personal-area:hover {
  transition: 0.2s ease;
  color: #C3F33B;
  border-color: #C3F33B;
}
.header__personal-area:active {
  transition: 0.2s ease;
  border: 1px solid #C3F33B;
  background: rgba(224, 255, 172, 0.05);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}

@media (max-width: 1233px) {
  .header {
    margin-top: 20px;
  }
  .header__logo {
    max-width: calc(89px + 39 * (100vw - 320px) / 1600);
  }
  .header__nav-container {
    display: none;
  }
}
.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 10;
  padding: 0 12px 195px;
}

.starting {
  position: relative;
  display: flex;
  height: 100%;
}
.starting__text-container {
  position: relative;
  display: flex;
  max-width: 717px;
  flex-direction: column;
  align-self: center;
  z-index: 140;
}
.starting__text-container .title {
  color: #FFF;
  font-size: 72px;
  line-height: 105%;
  letter-spacing: -2.16px;
}
.starting__text-container .title p {
  font-family: "Inter Regular";
}
.starting__text-container .title p b {
  font-family: "Inter Bold";
}
.starting__text-container .mobile-pchers {
  display: none;
}
.starting__text-container .sub-title {
  max-width: 499px;
  color: #CECECE;
  font-family: "Inter Regular";
  font-size: 23px;
  line-height: 120%;
  margin-top: 20px;
}
.starting__text-container .btn {
  font-size: 20px;
}
.starting__image-container {
  position: absolute;
  display: flex;
  right: -45.63px;
  top: 100.74px;
  z-index: 10;
}
.starting__image-container .image {
  position: relative;
  max-width: 863px;
  max-height: 708px;
}
.starting__image-container .image img {
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.starting__image-container .image .eclipse-img {
  position: absolute;
  width: 475px;
  height: 475px;
  flex-shrink: 0;
  top: 122px;
  right: 122px;
  border-radius: 50%;
  transform: rotate(11.861deg);
  background: linear-gradient(171deg, rgba(95, 56, 255, 0.55) 25.59%, rgba(255, 14, 222, 0.55) 100.44%);
  filter: blur(86px);
  z-index: -1;
}

@media (max-width: 1920px) {
  .starting__text-container .title {
    font-size: calc(25px + 47 * (100vw - 320px) / 1600);
  }
  .starting__text-container .sub-title {
    font-size: calc(18px + 5 * (100vw - 320px) / 1600);
  }
  .starting__text-container .btn {
    font-size: calc(16px + 4 * (100vw - 320px) / 1600);
  }
}
@media (max-width: 1233px) {
  .home {
    height: 100%;
  }
  .home .starting {
    justify-content: center;
    text-align: center;
    margin-top: 48.8px;
  }
  .home .starting__text-container {
    align-self: start;
    align-items: center;
  }
  .home .starting__text-container .title {
    margin: 0;
    letter-spacing: -0.75px;
    max-width: 90%;
  }
  .home .starting__text-container .sub-title {
    margin: 0;
  }
  .home .starting__text-container .btn {
    padding: 15px 30px;
    line-height: 20px;
    align-self: center;
  }
  .home .starting__text-container .mobile-pchers {
    display: block;
    width: 100%;
    max-width: 620px;
    margin: 16px 0 11px;
  }
  .home .starting__text-container .mobile-pchers img {
    width: 100%;
  }
  .home .starting__image-container {
    display: none;
  }
}
.education {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 130px;
}
.education .ed_eclipse {
  position: absolute;
  width: 440px;
  height: 440px;
  border-radius: 50%;
  background: linear-gradient(171deg, rgba(95, 56, 255, 0.5) 0%, rgba(255, 14, 222, 0.25) 100%);
  filter: blur(172px);
  z-index: -1;
}
.education .top {
  top: -44.32px;
  right: 0;
}
.education .bot {
  bottom: 0;
  left: 0;
}
.education .sphere_top {
  position: absolute;
  min-width: 151.89px;
  min-height: 151.89px;
  top: -120px;
  right: 94.79px;
  border-radius: 50%;
  background: var(--Radial, radial-gradient(95.39% 95.39% at 50.77% 4.62%, #DEA8FF 0%, #9D6AD9 44.51%, #7A2BF6 100%));
  border: 1px solid rgba(226, 193, 255, 0.53);
}
.education .sphere_mid {
  position: absolute;
  min-width: 84.004px;
  min-height: 84.004px;
  top: 104.65px;
  left: 164.38px;
  border-radius: 50%;
  background: radial-gradient(66.01% 76.73% at 65.32% 77.65%, #045DFA 0%, #0FC1D7 83.16%, #06F6C7 100%);
  border: 1px solid #5EFFDF;
  z-index: 10;
}
.education .sphere_bot {
  position: absolute;
  min-width: 131.66px;
  min-height: 131.66px;
  bottom: 107.23px;
  right: 143.24px;
  border-radius: 50%;
  background: var(--Radial, radial-gradient(95.39% 95.39% at 50.77% 4.62%, #DEA8FF 0%, #9D6AD9 44.51%, #7A2BF6 100%));
  border: 1px solid rgba(226, 193, 255, 0.53);
  filter: blur(12px);
  z-index: 10;
}
.education__title {
  max-width: 75%;
  color: #FFF;
  text-align: center;
  font-family: "Inter Medium";
  font-size: 45px;
  font-weight: 600;
  line-height: 130%;
  margin: 130px 0 65px;
  z-index: 100;
}
.education__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 70px 50px;
  z-index: 100;
}
.education__container .wrapper-card {
  position: relative;
  display: flex;
  justify-content: center;
}
.education__container .wrapper-card .back-card {
  position: absolute;
  width: 86.6%;
  height: 100%;
  min-height: 268px;
  background: rgba(51, 62, 81, 0.6);
  -webkit-backdrop-filter: blur(27.5px);
          backdrop-filter: blur(27.5px);
  border-radius: 20px;
  bottom: -20px;
  z-index: 1;
}
.education__container .wrapper-card .card {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 300px;
  height: 100%;
  min-height: 310px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
  border-radius: 20px;
  background: rgba(51, 62, 81, 0.7);
  -webkit-backdrop-filter: blur(30.5px);
          backdrop-filter: blur(30.5px);
  opacity: 1;
  z-index: 10;
}
.education__container .wrapper-card .card .text {
  color: #FFF;
  text-align: center;
  font-family: "Inter Regular";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.7px;
}
.education__container .wrapper-card .card .pichers-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px 0 23px;
  width: 100%;
  max-width: 160px;
}
.education__container .wrapper-card .card .pichers-container .pichers {
  position: relative;
  z-index: 10;
}
.education__container .wrapper-card .card .pichers-container .back {
  position: absolute;
  width: 100%;
  max-width: 160px;
  z-index: 9;
}
.education__container .wrapper-card:nth-child(3) .pichers-container {
  margin: 30px 0 21px;
}
.education__container .wrapper-card:last-child .pichers-container {
  margin: 27px 0 21px;
}

@media (max-width: 1233px) {
  .education__title {
    font-size: calc(23px + 22 * (100vw - 320px) / 913);
  }
  .education__container .wrapper-card .card .text {
    margin: 0 23px;
    font-size: calc(16px + 3 * (100vw - 320px) / 913);
  }
}
@media (max-width: 990px) {
  .education .sphere_top {
    right: -45px;
  }
  .education .sphere_mid {
    position: relative;
    display: flex;
    align-self: start;
    top: 0;
    left: 20px;
  }
  .education .sphere_bot {
    position: relative;
    display: flex;
    align-self: end;
    bottom: 0;
    right: 11.61px;
  }
}
@media (max-width: 700px) {
  .education__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0 30px;
  }
}
@media (max-width: 460px) {
  .education .sphere_top {
    display: flex;
    min-width: 87.59px;
    min-height: 87.59px;
    right: -45px;
    top: 1%;
  }
  .education .sphere_mid {
    min-width: 21.91px;
    min-height: 21.91px;
  }
  .education .sphere_bot {
    min-width: 62.86px;
    min-height: 62.86px;
    filter: blur(8.5px);
    top: 35.53px;
  }
}
.wrapper-popup {
  position: fixed;
  display: none;
  width: 100%;
  justify-content: center;
  transform: translateY(50%);
  z-index: 100;
}

.pop-up {
  position: relative;
  width: 100%;
  max-width: 670px;
  border-radius: 30px;
  background: radial-gradient(207.54% 112.44% at 15.58% -40.39%, #323E51 0%, #1D2532 100%);
  margin: 0 10px;
  overflow: hidden;
  transition: 0.3s ease;
}
.pop-up .close {
  cursor: pointer;
  display: flex;
  position: absolute;
  right: 40px;
  top: 34px;
  z-index: 100;
}
.pop-up .eclipse-popup {
  position: absolute;
  right: -162.78px;
  top: -95px;
  width: 424.927px;
  height: 386.225px;
  transform: rotate(11.969deg);
  flex-shrink: 0;
  border-radius: 424.927px;
  background: linear-gradient(171deg, rgba(195, 243, 58, 0.25) 25.59%, rgba(41, 209, 89, 0.25) 100.44%);
  filter: blur(86px);
  z-index: 1;
}
.pop-up .container {
  position: relative;
  flex-direction: column;
  max-width: 471px;
  padding: 56px 0 90px 70px;
  margin-right: 20px;
  z-index: 100;
}
.pop-up .container .title {
  color: #FFF;
  font-family: "Inter Bold";
  font-size: 45px;
  line-height: 105%;
  letter-spacing: -1.35px;
}
.pop-up .container .sub-title {
  color: #FFF;
  font-family: "Inter Regular";
  font-size: 21px;
  line-height: 120%;
  margin: 25px 0 35px;
}
.pop-up .container input {
  width: 100%;
  max-width: 431px;
  font-family: "Inter Regular";
  border: 0;
  font-size: 18px;
  border-radius: 10px;
  padding: 15px 20px;
  outline: none;
}
.pop-up .container input::-moz-placeholder {
  color: #757575;
}
.pop-up .container input::placeholder {
  color: #757575;
}
.pop-up .container .btn {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 18px;
  padding: 15px 0px;
  margin: 18px 0 0 0;
  z-index: 100;
}
.pop-up .container .btn:hover {
  box-shadow: 0px 0px 15px 0px #1DD844;
}
.pop-up .container .btn:active {
  box-shadow: 0px 0px 5px 0px #1DD844;
}

.background-popup {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(48, 9, 97, 0.3019607843);
  filter: blur(7.5px);
  transition: 0.2s ease;
}

.active {
  display: flex;
  transition: 0.2s ease;
}

@media (max-width: 1233px) {
  .pop-up .container .title {
    font-size: calc(23px + 22 * (100vw - 320px) / 913);
  }
  .pop-up .container .sub-title {
    font-size: calc(18px + 3 * (100vw - 320px) / 913);
  }
  .pop-up .container .btn {
    font-size: calc(16px + 2 * (100vw - 320px) / 913);
  }
}
@media (max-width: 620px) {
  .pop-up .close {
    right: 16px;
    top: 16px;
    z-index: 10000;
  }
  .pop-up .container {
    display: flex;
    padding: 45px 16px 41px;
    margin: 0 auto;
  }
  .pop-up .container input {
    width: auto;
  }
  .pop-up .container .title {
    font-size: calc(23px + 22 * (100vw - 320px) / 913);
  }
  .pop-up .container .sub-title {
    font-size: calc(18px + 3 * (100vw - 320px) / 913);
  }
  .pop-up .container .btn {
    margin: 18px 0 0;
    font-size: calc(16px + 2 * (100vw - 320px) / 913);
  }
}
.burger-menu {
  display: none;
  opacity: 1;
  z-index: 1000;
}
.burger-menu .wrapper-top .logo {
  display: none;
  z-index: 1000;
}
.burger-menu .wrapper-top .logo svg {
  width: 100%;
}
.burger-menu .wrapper-top .menu-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 40px;
  max-height: 16px;
  min-height: 16px;
  justify-content: space-between;
  z-index: 110;
}
.burger-menu .wrapper-top .menu-btn .line {
  min-width: 100%;
  min-height: 3px;
  background: #fff;
}
.burger-menu .navigation {
  display: none;
  opacity: 0;
  flex-direction: column;
  padding: 50px 0 0 20px;
  z-index: 100;
}
.burger-menu .navigation .nav-list {
  display: flex;
  flex-direction: column;
}
.burger-menu .navigation .nav-list .link {
  font-family: "Inter Regular";
  font-size: 23px;
  line-height: 27.6px;
  list-style-type: none;
  margin-bottom: 20px;
}
.burger-menu .navigation .nav-list .link:last-child {
  margin-bottom: 0;
}
.burger-menu .navigation .nav-list .link a {
  color: #CECECE;
  text-decoration: none;
}
.burger-menu .navigation .header__personal-area {
  margin: 90px 0 60px;
  align-self: start;
}

.open {
  position: absolute;
  display: flex;
  width: 304px;
  background: #293344;
  border-radius: 0 0 0 30px;
  right: 0;
  top: 0;
}
.open .container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.open .wrapper-top {
  display: flex;
  width: 100%;
  max-width: 268px;
  justify-content: space-between;
  padding: 20px 16px 0 20px;
}
.open .wrapper-top .logo {
  display: flex;
}
.open .wrapper-top .menu-btn {
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  z-index: 100;
}
.open .wrapper-top .menu-btn .line {
  position: absolute;
  transform: rotate(-45deg);
}
.open .wrapper-top .menu-btn .line:last-child {
  position: absolute;
  transform: rotate(45deg);
}
.open .navigation {
  display: flex;
  opacity: 1;
}

@media (max-width: 1233px) {
  .burger-menu {
    display: flex;
  }
  .burger-menu .logo {
    max-width: calc(89px + 39 * (100vw - 320px) / 1600);
  }
}
* {
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  display: flex;
  box-sizing: border-box;
  font-family: "Inter Regular";
  justify-content: center;
  width: 100%;
  background: #1D2532;
  overflow: hidden;
}
.main .eclipse {
  position: absolute;
  width: 415px;
  height: 415px;
  transform: rotate(11.969deg);
  flex-shrink: 0;
  top: -188.98px;
  left: 14.86px;
  border-radius: 50%;
  background: linear-gradient(171deg, rgba(95, 56, 255, 0.35) 25.59%, rgba(255, 14, 222, 0.35) 100.44%);
  filter: blur(86px);
  z-index: 0;
}
.main .btn {
  cursor: pointer;
  display: flex;
  align-self: start;
  font-family: "GT Walsheim Pro";
  text-align: center;
  color: #242424;
  line-height: 130%;
  border: 0;
  border-radius: 20px;
  background: var(--Gr, linear-gradient(93deg, #1DD844 1.44%, #CBF62E 126.29%));
  box-shadow: 0px 0px 15px 0px #1DD844;
  padding: 20px 30px;
  margin-top: 67px;
  transition: 0.3s ease;
}
.main .btn:hover {
  transition: 0.3s ease;
  box-shadow: 0px 0px 40px 0px #1DD844;
}
.main .btn:active {
  transition: 0.3s ease;
  box-shadow: 0px 0px 15px 0px #1DD844;
}
.main .btn:disabled {
  box-shadow: 0px 0px 0px 0px #1DD844;
}
.main .btn:disabled p {
  opacity: 30%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  z-index: 1;
}

.blur {
  filter: blur(7.5px);
}

.block {
  overflow: hidden;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./fonts/GTWalsheimPro-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Inter Regular";
  src: url("./fonts/Inter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter Medium";
  src: url("./fonts/Inter-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Inter Bold";
  src: url("./fonts/Inter-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}/*# sourceMappingURL=styles.css.map */